<div class="text-center text-muted" ng-show="ctrl.loading">
  <h2>Loading</h2>
</div>

<div ng-show="!ctrl.loading">

  <h2>
    <span class="glyphicon glyphicon-glass"></span> Weine
    <span class="btn btn-lg btn-primary pull-right glyphicon glyphicon-user" ng-click="ctrl.switchAddSeller()"></span>
  </h2>

  <div ng-if="ctrl.addSeller">
    <seller-form></seller-form>
  </div>

  <div ng-if="!ctrl.addSeller" ng-repeat="seller in ctrl.sellers">
    <seller-card seller=seller></seller-card>
  </div>
</div>
