<form class="form form-horizontal" ng-submit="ctrl.submitNewSeller()">
  <div class="input-group">
    <label for="name" class="input-group-addon input-addon-add">Name</label>
    <input class="form-control right" units="text" id="name" placeholder="Winzer-Name"
           ng-model="ctrl.newSeller.name" required>
  </div>
  <div class="input-group">
    <label for="address" class="input-group-addon input-addon-add">Adresse</label>
    <input class="form-control right" units="text" id="address" placeholder="Adresse"
           ng-model="ctrl.newSeller.address" required>
  </div>
  <div class="input-group">
    <label for="email" class="input-group-addon input-addon-add">Email</label>
    <input class="form-control right" units="email" id="email" placeholder="Email-Adresse"
           ng-model="ctrl.newSeller.email" required>
  </div>

  <input units="submit" value="Ok" class="btn btn-success col-sm-12">
</form>
