<form class="form form-horizontal" ng-submit="ctrl.saveWine()">
  <div class="input-group">
    <label for="name" class="input-group-addon input-addon-add">Name</label>
    <input class="form-control right" type="text" id="name" placeholder="Wein-Name"
           ng-model="ctrl.newWine.name" required>
  </div>
  <div class="input-group">
    <label for="alc" class="input-group-addon input-addon-add">Alkohol</label>
    <input class="form-control right" type="number" step="0.01" id="alc" placeholder="Alkohol in %"
           ng-model="ctrl.newWine.alcohol">
  </div>
  <div class="input-group">
    <label for="rz" class="input-group-addon input-addon-add">Restzucker</label>
    <input class="form-control right" type="number" step="0.01" id="rz" placeholder="Restzucker in g"
           ng-model="ctrl.newWine.restSugar">
  </div>
  <div class="input-group">
    <label for="s" class="input-group-addon input-addon-add">Säure</label>
    <input class="form-control right" type="number" step="0.01" id="s" placeholder="Säure in g"
           ng-model="ctrl.newWine.acid">
  </div>
  <div class="input-group">
    <label for="size" class="input-group-addon input-addon-add">Flaschengröße</label>
    <input class="form-control right" type="number" step="0.1" id="size" placeholder="Größe der Flasche in l"
           ng-model="ctrl.newWine.size">
  </div>
  <div class="input-group">
    <label for="price" class="input-group-addon input-addon-add">Preis</label>
    <input class="form-control right" type="number" step="0.01" id="price" placeholder="Preis in €"
           ng-model="ctrl.newWine.price" required>
  </div>
  <div class="input-group">
    <select class="selectpicker">
      <option class="form-control" ng-repeat="color in ctrl.colors">{{color.wineColorEnum}}</option>
    </select>
  </div>
  <div class="input-group">
    <select class="selectpicker" multiple>
      <option class="" ng-repeat="berry in ctrl.berries">{{berry.name}}</option>
    </select>
  </div>
  <div ng-show="ctrl.seller==null">
    TODO Dropdown from Winzer
  </div>
  <div class="hspace-small"></div>
  <input type="submit" value="Ok" class="btn btn-primary">
  <div class="hspace-small"></div>
</form>
